<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- external CSS -->
  <link rel="stylesheet" crossorigin="" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.1.0/dist/geosearch.css" />

  <!-- internal CSS -->
  <link rel="stylesheet" href="./styles/main.css" />
  <link rel="stylesheet" href="./styles/layout.css" />
  <link rel="stylesheet" href="./styles/add-event-form.css" />
  <link rel="stylesheet" href="./styles/new-marker-popup.css" />
  <link rel="stylesheet" href="./styles/edit-event-form.css" />
  <link rel="stylesheet" href="./styles/nav.css" />
  <link rel="stylesheet" href="./styles/dropdown-list.css" />

  <!-- external scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" crossorigin=""></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://unpkg.com/leaflet-geosearch@3.1.0/dist/bundle.min.js"></script>
  <!-- bootstrap linking -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- internal scripts -->
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/delete.js"></script>
  <script defer src="/scripts/add-event.js"></script>

</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-lg">
    <h2>Western Canadian Music Scene</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-wrapper">
      <div class="new-user">
        <ul class="navbar-nav mr-auto">
          <!-- hardcoded login for now - choose user by id -->
          <form class="login-form" method="" action="login/3">
            <button id="click-in" class=" login" type="submit">Log in</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="click-up" class=" login" type="submit">Sign up</button>
          </form>
        </ul>
      </div>
      <!-- Displayed in nav when a user is logged in -->
      <div class="logged-in">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link first-name" href="#"></a>
          </li>
          <li id="log-out" class="nav-item">
            <form class="logout-form" method="POST" action="/logout">
              <button id="click-out" class="login" type="submit">Sign out</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Add new event form -->
  <section class="add-event-section" action="/api/events/" method="POST">
    <form id="event-form" autocomplete="off">
      <input class="event-input" type="text" id="name" placeholder="event name" name="name" required>
      <input class="event-input" type="text" id="venue" name="venue" placeholder="venue" required>
      <input class="event-input" type="text" id="city" placeholder="city" name="city" required>
      <textarea id="description" placeholder="event description" name="description" required></textarea>
      <input class="event-input" id="start-date" name="start_date" placeholder="start date" type="text"
        onfocus="(this.type='date')" onblur="(this.type='text')" required>
        <!-- onfocus, onblur allow the placeholders to show -->
      <input class="event-input" id="end-date" name="end_date" placeholder="end date" type="text"
        onfocus="(this.type='date')" onblur="(this.type='text')" required>
      <input class="event-input" type="number" id="latitude" name="latitude" readonly>
      <input class="event-input" type="number" id="longitude" name="longitude" readonly>
      <input class="event-input" type="text" id="event-link" name="event_link_url" placeholder="event link">
      <input class="event-input" type="text" id="venue" name="event_thumbnail_url"
        placeholder="add event image or flyer">
      <div class="add-event-btns">
        <button class="add-event" type="submit"><strong>Add</strong></button>
        <button class="cancel-event" type="button"><strong>Cancel</strong></button>
      </div>
    </form>
  </section>

  <!-- Edit event form -->
  <section class="edit-event-section"></section>

  <!--!!!! Leaflet Map Container !!!!-->
  <div class="map-container">

    <!-- DROPDOWM CREATED EVENTS -->
    <div class="container">
      <div class="container-dropdowns">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="created-events-dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Events
          </button>
          <div class="dropdown-menu" aria-labelledby="created-events-dropdown" id="created-events">
          </div>
        </div>

        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="favourite-events-dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Favourites
          </button>
          <div class="dropdown-menu" aria-labelledby="favourite-events-dropdown" id="favourite-events">
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>


  <script>

  </script>


</body>

</html>
