.add-event-section {
  padding: 20px;
  display: none;

  #event-form {
    display: grid; //will need to be properly reformatted later
    margin-bottom: 20px;

    .event-input[type="text"],
    .event-input[type="date"],
    .event-input[type="number"],
    #description {

      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    .add-event,
    .cancel-event {
      height: 47px;
      width: 60px;
      margin-left: 10px;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-event {
      background: #45415e;
    }

    .cancel-event {
      background: orangered;
    }

    .add-event:hover {
      background: darkblue;
    }

    .cancel-event:hover {
      background: red;
    }
  }
}

.card{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}

.blue-text{
  color: #00BCD4
}

.form-control-label{margin-bottom: 0}

input, textarea, button{
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300
}
input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
  font-weight: 400}
