.add-event-section {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  z-index: 2;

  #event-form {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    .event-input[type="text"],
    .event-input[type="date"],
    .event-input[type="number"],
    #description {

      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    #description {
      grid-row: 2;
      grid-column: span 3;
    }

    #end-date {
      grid-row: 4;
      grid-column: 1;
    }

    #longitude {
      grid-row: 4;
      grid-column: 2;
    }

    .add-event-btns {
      grid-column: 3;
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-event {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 0.9501050420168067) 0%, rgba(48, 91, 119, 1) 75%);
      color: #fefefe;
      padding: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .cancel-event {
      padding: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-left: 0.5em;
      background: rgb(89, 10, 15);
      background: linear-gradient(0deg, rgba(89, 10, 15, 1) 0%, rgba(153, 46, 164, 1) 75%);
      color: #fefefe;
    }

    .add-event:hover {
      background: rgb(2, 0, 36);
    }

    .cancel-event:hover {
      background: rgb(88, 10, 15);
    }
  }
}
