.container-dropdowns {
  display: none;
}

.dropdown button.dropdown-toggle {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.9501050420168067) 0%, rgba(48, 91, 119, 1) 75%);
  color: white;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  height: 2.5em;
  width: 9em;

  :hover {
    background: rgb(2, 0, 36);
  }
}

.dropdown button.dropdown-toggle:hover {
  background: rgb(2, 0, 36);
}
.dropdown-header {
  font-weight:bold;
  color: black;
  font-size: 20px;
  margin-top: 15px;
}


button.edit-event {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.9501050420168067) 0%, rgba(48, 91, 119, 1) 75%);
  color: white;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

button.delete-event, .remove-favourite-event {
  background: rgb(89, 10, 15);
  background: linear-gradient(0deg, rgba(89, 10, 15, 1) 0%, rgba(153, 46, 164, 1) 75%);
  color: white;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

button.edit-event:hover {
  background: rgb(2, 0, 36);
}

button.delete-event:hover {
  background: rgb(89, 10, 15);
}
button.remove-favourite-event:hover {
  background: rgb(89, 10, 15);
}
