.edit-event-section {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);

  #edit-event-form {
    border-radius: 5px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:  white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 700px;

    .event-input[type="text"],
    .event-input[type="date"],
    .event-input[type="number"],
    #edit-description {

      padding: 5px;
      border: 1px solid  lightgray;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-left: 10px;
    }


    #edit-description {
      grid-row: 2;
      grid-column: span 3;
    }

    #edit-end-date {
      grid-row: 4;
      grid-column: 1;
    }

    #edit-longitude {
      grid-row: 4;
      grid-column: 2;
    }

    div.edit-event-btns {
      grid-column: 3;
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button.edit-event-btn {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 0.9501050420168067) 0%, rgba(48, 91, 119, 1) 75%);
      color: white;
      padding: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    button.cancel-edit {
      margin-left: 0.5em;
      padding: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
      background: rgb(89, 10, 15);
      background: linear-gradient(0deg, rgba(89, 10, 15, 1) 0%, rgba(153, 46, 164, 1) 75%);
      color:  white;
    }

    button.edit-event:hover {
      background: rgb(2, 0, 36);
    }

    button.cancel-edit:hover {
      background: rgb(89, 10, 15);
    }
  }
}
