// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  display: flex;
}

.container-dropdowns {
  padding-right:30px;
}

.dropdown {
  padding-bottom:20px;
}
#map { 
  height: 600px;
  width: 100%;
}
