nav.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
  padding-bottom: 0.5em;

  h2 {
    font-weight: bold;
    margin-left: -1.5em;
    font-size: 2em;
    transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    color: transparent;
    -webkit-background-clip: text;
    background-image: rgb(134, 40, 144);
    background-image: linear-gradient(0deg, rgba(134, 40, 144, 1) 10%, rgba(210, 71, 225, 1) 60%);
    background-clip: text;
  }

  h2:hover {
    color: white;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;

    a.nav-link {
      text-align: end;
      color: white;
      font-size: larger;
      margin: -0.35em;
      padding-right: 1em;
      padding-bottom: 0.3em;
      margin-left: -2.2em;
    }

    a.nav-link:hover {
      text-decoration: underline;
    }

    div.logged-in {
      display: none;
    }

    .login-form {
      display: flex;
      justify-content: space-between;
    }

    .login {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      color: white;
      display: flex;
      font-size: larger;
      outline: 0;
    }

    .login:hover {
      text-decoration: underline;
    }

    .logout {
      background: none;
      border: none;
      padding: 0;
      margin: 5em;
      cursor: pointer;
      color: white;
      display: flex;
      font-size: larger;
      outline: 0;
    }
  }
}
