nav.navbar {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

h3 {
  color: seashell;
  padding-left: 6em;
  padding-right: 10em;
}

nav .btn {
  margin-left: 0.5em;
  height: 2.25em;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: rgb(89,10,15);
  background: linear-gradient(0deg, rgba(89,10,15,1) 0%, rgba(153,46,164,1) 75%);
  color: #fefefe;
}

a.nav-link {
  display: flex;
  color: white;
  justify-content: flex-end;
}

a.nav-link:hover {
  text-decoration: underline;
}
