nav.navbar {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

h3 {
  color:seashell;
  padding-left: 6em;
  padding-right: 10em;
}

nav .btn {
  margin-left: 1em;
  height: 2.5em;
  background: rgb(85,22,94);
  background: linear-gradient(0deg, rgba(85,22,94,1) 7%, rgba(79,134,142,1) 100%);
}

a.nav-link {
  display: flex;
  color: white;
  justify-content: flex-end;
}

a.nav-link:hover {
    text-decoration: underline;
}

