//not able to get these working

.leaflet-popup-content-wrapper {

  overflow: hidden;


  .marker-submit-button {
    background: #0b7dda;
    border-radius: 5px;
    color: #fff;
  }

  .marker-delete-button {
    background: red;
    border-radius: 5px;
    color: #fff;
  }
}

//popup content
p#collapsible {
  cursor: pointer;
}

p#collapsible:hover {
  font-size: larger;
}

div#expand {
  display: none;
}
